<!-- Programs Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Pillars</h2>
                <h3 class="section-subheading text-muted">Roots2Harvest Foundation is our community and research engine, holding our educational initiatives, building pathways for community entrepreneurship, and leading community-based participatory research.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Community Education</h4>
                <p class="text-muted"> Our <strong>three</strong> education series (Building, Horticulture, and Wellness) empower community members to build and grow to meet challenges of urban agriculture in the South. Each session is led by experienced, skilled workers from our region. We provide hands-on learning rooted in local knowledge and conditions.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Food Entrepreneurship Pathways</h4>
                <p class="text-muted"> We provide urban agricultural training and economic development support for individuals interested in establishing and operating an agricultural or value-added business, <strong>with every member as a co-owner.</strong> We are passionate about workforce development rooted in dignity and shared wealth.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Community-Based Participatory Research</h4>
                <p class="text-muted">We aim to lead research measuring how fresh food intervention impacts our communities at the levels of environmental resilience, community connectedness & social health, and individual mental & physiological health. Our current focus is the <strong>restoration of urban soils for agricultural safety</strong> in Birmingham.</p>
            </div>
        </div>
    </div>
</section>
